.cssSlider {
    display: flex !important;
    justify-content: space-around;
    
}
.hover:hover {

    cursor: pointer;
   
}
.widthImportant {
    width: 345px !important;
    min-width: 345px !important;
    max-width: 345px !important;
}
.audio-player-container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  
  .audio-player {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .play-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .play-button:hover {
    background-color: #45a049;
  }